.form__contact {
  width: 320px;
  color: rgb(88, 88, 99);
}
.form__name-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  font-size: 24px;
  color: rgb(88, 88, 99);
  border: 1px solid #858585;
  border-radius: 10px;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.form__name-input {
  width: 70%;
  color: rgb(88, 88, 99);
  border: 1px solid transparent;
  border-bottom: 2px solid rgb(3, 3, 112);
  font-size: 24px;
  text-align: center;
  padding-top: 15px;
  margin-left: auto;
  margin-right: auto;
}
.form__name-input::placeholder {
  color: rgb(204, 204, 223);
}
.button {
  display: block;
  width: 60%;
  height: 40px;
  margin: 10px auto;
  color: rgb(3, 3, 112);
  background: rgb(201, 200, 255);
  border: 2px solid rgb(3, 3, 112);
  border-radius: 10px;
  cursor: auto;
  align-items: center;
}
.disabled {
  color: rgb(88, 88, 99);
  background: rgb(202, 202, 202);
  border: 2px solid rgb(202, 202, 202);
  cursor: auto;
  font-size: 23px;
}

.disabled:hover, 
.disabled:focus {
  color: rgb(100, 100, 168);
  border: 2px solid rgb(100, 100, 168);
}